<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.theshaeffers.tourguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Dining"
            android:label="Good Places to Eat" />
        <activity
            android:name=".Lodging"
            android:label="Lodging Places" />
        <activity
            android:name=".Fun"
            android:label="Fun Places" />
        <activity
            android:name=".Spooky"
            android:label="Spooky Places" />
        <activity android:name=".LocationDetails">

        </activity>
    </application>

</manifest>